<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>BookStore</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
  	<filter-name>HallFilter</filter-name>
  	<filter-class>com.store.web.filter.HallFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>HallFilter</filter-name>
    <url-pattern>/history_data.jsp</url-pattern>
    <url-pattern>/shopping-result.html</url-pattern>
    <url-pattern>/order_message.jsp</url-pattern>
    <url-pattern>/order.jsp</url-pattern>
    <url-pattern>/shoppingCar.jsp</url-pattern>
  </filter-mapping>
  
  <filter>
  	<filter-name>ManagerFilter</filter-name>
  	<filter-class>com.store.manager.filter.ManaFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>ManagerFilter</filter-name>
  	<url-pattern>/Manager/*</url-pattern>
  	<url-pattern>*.do</url-pattern>
  </filter-mapping>
 
 <filter>
 	<filter-name>autologinFilter</filter-name>
 	<filter-class>com.store.web.filter.LoginFilter</filter-class>
 </filter>
 <filter-mapping>
 	<filter-name>autologinFilter</filter-name>
 	<url-pattern>/login.jsp</url-pattern>
 	<url-pattern>/index.jsp</url-pattern>
 </filter-mapping>
  
  <listener>
    <listener-class>com.store.web.listener.CountListener</listener-class>
  </listener>
</web-app>